* {
  font-family: "Helvetica";
  font-size: 1.25rem;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
}

.inp {
  text-align: right;
  width: 15rem;
  height: 3rem;
  font-size: 3rem;
  border: none;
}

.keypad {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.btn {
  border-radius: 2rem;
  outline: none;
  border: none;
  width: 3rem;
  height: 3rem;
}

.num {
  background-color: #212638;
  color: #fff;
}

.operation {
  background-color: #34509e;
  color: #fff;
}

.other {
  background-color: #8490ff;
  color: #212638;
}

#zero {
  width: 100%;
  grid-column: 1 / 3;
}
